<h1>Test4b</h1>
<body>
<p>
<table border="1">
    <tr>
        <th>parameter</th>
        <th>value</th>
    </tr>

    <tr>
        <td>year</td>
        <td>{{ year }}</td>
    </tr>

</table>
</p>
</body>