<h1>Test1</h1>
<body>
<p>
<table border="1">
    <tr>
        <th>parameter</th>
        <th>value</th>
    </tr>

    <tr>
        <td>year</td>
        <td>{{ year }}</td>
    </tr>
    <tr>
        <td>month</td>
        <td>{{ month }}</td>
    </tr>
    <tr>
        <td>filename</td>
        <td>{{ filename }}</td>
    </tr>
    <tr>
        <td>ext</td>
        <td>{{ ext }}</td>
    </tr>

</table>
</p>
</body>