<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Sandbox{% endblock %}</title>
    <meta charset="UTF-8" />
</head>
<body>
<div id="menu">
    {{ render(controller("LicSandboxBundle:Menu:menu")) }}
</div>

<div id="vue">
    <h1>{% block titre_principal %}{% endblock %}</h1>
    {% block vue %}{% endblock %}
</div>

<div id="footer">
    {{ include("LicSandboxBundle::footer.html.twig") }}
</div>

</body>
</html>